body{
	font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
	color: #333;
}
.topBar{
	width: 100%;
	height:40px;
	background-color: #333
}
.container{
	width: 1226px;
	margin:0 auto;
	height: 100%;
}
.topBar_list{
	float: left;
}
.login{
	float: right;

}
.topBar .shop{
	float:right;
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	/*居中，设定固定宽高，内部文本填充高度不行*/
	margin-left:15px;
	background-color: #424242;
}

.topBar a{
	display: inline-block;
	line-height: 40px;
	font-size: 12px;
	color: #b0b0b0
}
.topBar span{
	color:#424242;
	margin:0 0.5em;
}

.topBar a:hover{
	color: #fff;
}

.topBar .shop a{
	width: 120px;
	height: 40px;
	display: inline-block;
}

/*导航栏区域设置*/
.header{
	height: 100px;
}
.header .site_logo{
	float: left;
	height: 62px;
	margin-top: 22px;
}
.header .site_logo a{
	display: block;
	width: 49px;
	height: 49px;
	background-color:#FF6700; 
}
.site_list{
	width: 850px;
	float: left;
}
.site_list>ul{
	width: 820px;
	height: 88px;
	padding: 12px 0 0 30px;
	font-size: 16px;
}
.site_list>ul>li{
	float: left;
}
.site_list>ul>li.site_category{
	position: relative;
}
/*全部商品分类部分*/
.site_list>ul>li.site_category .category-list{
	width:234px; 
	height:460px;
	position: absolute;
	top: 88px;
	left: -80px;
	background-color: rgba(0,0,0,.6);
	z-index: 3;
}
.category-list>ul{
	width: 234px;
	height: 420px;
	padding:20px 0;
}
.category-list>ul>li{
	height: 42px;
	line-height: 42px;

}
.category-list>ul>li>a{
	display: block;
	height: 42px;
	padding-left: 30px;

	font-size: 14px;
	color: white;
	position: relative;
}
.category-list>ul>li>a:hover{
	background-color: #ff6700;
}
.category-list>ul>li>a>span{
	position: absolute;
	font-size: 16px;
	top: 0;
	right: 20px;
}



.site_list>ul>li>a{
	/*总共高度88  上26 下38 字体12*/
	display: block;
	padding: 26px 10px 38px;
	color: #333;
}
.site_list>ul>li>a:hover{
	color:#FF6700;
}
.site_search{
	float: right;
	width: 296px;
	margin-top: 25px;
}

.site_search form{
	position: absolute;
	width: 296px;
	height: 50px;
}
.site_search form .search_text{
	/*220+2+20=242*/

	width:220px;
	height: 48px;
	border: 1px solid #e0e0e0;
	font-size: 14px;
	padding: 0 10px;
	float: left;

}
.site_search form .search_btn{
	/*50+2=52*/
	width: 50px;
	height: 50px;
	border: 1px solid #e0e0e0;
	float: left;
	background-color: white;
	margin-left: -1px;
}
.site_search form .search_word{
	position: absolute;
	top: 14px;
	right: 70px;
	font-size: 12px;

}
.site_search form .search_word a{
	display: inline-block;
	color: #757575;
	padding: 0 5px;
	margin-left: 5px;
	background-color: #eee;
}
/*轮播图部分*/
.site-slider{
	position: relative;
	z-index: 2;
}
.site-slider>a{
	display: block;
	width: 1226px;
	height: 460px;
}
/*设置轮播图按钮*/
.site-slider span{
	display: block;
	width:41px;
	height: 69px;
	position: absolute;
	/*注意：使用背景图片时，该css文件为当前的工作目录*/
	background:url('../images/icon-slides.png') no-repeat;
	top:50%;
	margin-top: -35px;
	cursor: pointer;
}
.site-slider span.prev{
	background-position: -83px 0;
	left:233px;
}
.site-slider span.next{
	background-position: -123px 0;
	right: 0px;
}
.site-slider span.prev:hover{
	background-position: 0 0;
}
.site-slider span.next:hover{
	background-position: -41px 0;
}
/*设置轮播图小圆点*/
.slider-item{
	width: 200px;
	height: 30px;
	line-height: 30px;
	text-align: right;
	/*行内块元素可以通过设置对齐方式来设置元素方向*/

	/*background-color: green;*/
	position: absolute;
	bottom: 20px;
	right: 30px;
}
.slider-item>a{

	display: inline-block;
	width: 6px;
	height: 6px;
	border:2px solid rgba(0,0,0,.3);
	border-radius: 6px;
	background-color: rgba(0,0,0,.4);
	margin:0 5px; 

}
.slider-item>a:hover{
	background-color: rgba(255,255,255,.4);
}
/*子内容区域*/
.content-sub{
	margin-top: 18px;
	overflow: hidden;
}
.content-sub .content-channel{
	float: left;
	width: 234px;
}
.content-sub .content-list{
	float: left;
	width: 992px;

}
/*向导样式*/
.content-sub .content-channel ul{
	background: #5f5750;
	font-size:12px;
	text-align: center;
}
.content-sub .content-channel ul li{
	float: left;
	width: 33.3%;
	height: 85px;
}
.content-sub .content-channel ul li a{
	display: block;
	padding-top:18px;
	font-size: 12px;
	color: rgba(255,255,255,.7);
}
.content-sub .content-channel ul li a i{
	font-size: 24px;
	display: block;
}
.clearfix::after{
	content:'';
	display: block;
	clear: both;
}
/*向导样式end*/

/*右边图片展示*/
.content-sub .content-list ul{
	width: 100%;
}
.content-sub .content-list ul li{
	float: left;
	width: 33.3%;
	text-align: right;
}
.content-sub .content-list ul li a{
	display: block;
}
.content-sub .content-list ul li a img{
	width: 316px;
	height: 170px;
}
/*右边图片展示end*/

/*banner区域设置*/
.container-banner{
	margin-top: 18px;
	margin-bottom: 20px;
}
.container-banner a{
	display: block;
	width: 1226px;
	height: 120px;
}
.container-banner img{
	width: 1226px;
	height: 120px;
}
/*banner区域设置end*/
/*设置内容详情*/
.content_desc{
	padding-top: 22px;
	background-color: #f5f5f5;
}
.content_desc .box-hd{
	height: 58px;
	line-height: 58px;
	position: relative;
}
.content_desc .box-hd h2{
	font-size: 22px;
	font-weight: 200px;
	color: #333;
}
.content_desc .box-hd .more{
	position: absolute;
	top: 0;
	right: 0;
}
.content_desc .box-hd .more a{
	font-size: 16px;
	color: #424242;
	
}
.content_desc .box-hd .more:hover a{
	color: #ff6700
}
.content_desc .box-hd .more:hover a i{
	background-color: #ff6700;
}
.content_desc .box-hd .more a i{
	width: 12px;
	height: 12px;
	font-size: 12px;
	border-radius:12px;
	padding: 4px; 
	background-color: #b0b0b0;
	color: #fff;

	margin-left: 8px;
	vertical-align:2px ;
}
/*内容详情页面*/

.box-bd .row{
	overflow: hidden;
}
.box-bd .row .row-l{
	float: left;
	width: 234px;
}
.box-bd .row .row-r{
	float: left;
	width: 992px;
}
.box-bd .row .row-l a{
	display: block;
	width: 100%;
	height: 100%
}
.box-bd .row .row-l a img{
	width: 234px;
	height: 614px;
}
.box-bd .row .row-r ul{
	overflow: hidden;
}
.box-bd .row .row-r ul li{
	float: left;
	height: 260px;
	width:234px;
	padding:20px 0;
	background-color: #fff; 
	position: relative;
	margin-left: 14px;
	margin-bottom: 14px;
}


.box-bd .figure{
	width: 160px;
	height: 160px;
	margin:0 auto 18px; 
}
.box-bd .figure a{
	display: block;
}
.box-bd .figure a img{
	width: 160px;
	height: 160px;
}
.box-bd .row-r ul li .title{
	
	text-align: center;
}
.box-bd .row-r ul li .title a{
	font-size:14px;
	font-weight: 400;
	color:#333;
}
.box-bd .row-r ul li p.desc{
	height: 18px;
	color: #b0b0b0;
	font-size:12px;
	text-align: center;
	margin:0 10px 10px; 

	overflow: hidden;
	word-wrap: nowrap;
	text-overflow: ellipsis;

}
.box-bd .row-r ul li p.price{
	text-align: center;
	color: #ff6700;
}
.box-bd .row-r ul li .flag{
	width: 64px;
	height: 24px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -32px;
	background-color: #83c44e;
	color: #fff;
	text-align: center;
}
/*内容详情页面end*/

/*底部区域制作*/
.footer-service{
	padding:27px 0; 
	border-bottom:1px solid #e0e0e0;
}
.footer-service ul li{
	float: left;
	width: 19.8%;
	height: 25px;
	font-size: 16px;
	line-height: 25px;
	text-align: center;
	border-left:1px solid #e0e0e0;
}
.footer-service ul li.first{
	border:0;
}
.footer-service ul li a{
    color: #616161

}
.footer-service ul li a i{
	font-size: 24px;
	margin-right: 6px;
	vertical-align: -4px;
}
.footer-links{
	padding: 40px 0;
}

.footer-links .col-links{
   float: left;
   width: 160px;
   height: 112px;
   text-align: center;
   
}
.footer-links .col-contact{
	float: right;
	width: 251px;
	height: 112px;
	text-align: center;
	border-left: 1px solid #e0e0e0;
}
.footer-links .col-links dt{
	font-size: 14px;
	margin-bottom: 26px;
	color: #424242;
}
.footer-links .col-links dd{
	margin-top: 10px;
	font-size: 12px;
	color: #757575;
	cursor:pointer;
}
.footer-links .col-contact .iphone{
	margin-bottom: 5px;
	font-size: 22px;
	color: #ff6700;

}
.footer-links .col-contact p{
	font-size: 12px;
	color: #757575;
	margin-bottom: 16px;
}
.footer-links .col-contact a{
	display: inline-block;
	width: 118px;
	height: 28px;
	border:1px solid #ff6700; 
	font-size: 12px;
	color: #ff6700;
    line-height: 28px;
}
.footer-links .col-contact a i{
	font-size: 12px;
}
.footer-links .col-contact a:hover{
	background-color: #ff6700;
	color:#fff;
}
.footer-links .col-contact a:hover i{
    color: #fff;
}